body{
			background-color: #f1f1f1;
			margin: 0;
			padding: 0;
			min-width: 1215px;
		}
		
		#head{
			height: 30px;
			width: 100%;
			
		}
		#left1{
			font-size: 12px;
			color: #6f6f6f;
			font-family: "ËÎÌå";
			line-height: 15px;
		}
		#left1 a:link{
			color: #6F6F6F;
			text-decoration: none;
			
		}
		#left1 a:visited{
			color: #6f6f6f;
			text-decoration: underline;
			
		}
		#left1 a:hover{
			color: red;
			text-decoration: underline;
			
		}
		#right1 a:link{
			color: #c94c49;
			text-decoration: underline;
			
		}
		#right1 a:visited{
			color: #c94c49;
			text-decoration: underline;
			
		}
		.shu{
			color: #dddddd;
		}
		#right1{
			
			
			font-size: 10px;
			color: #6f6f6f;
			font-family: "ËÎÌå";
			line-height: 25px;
		}
		
		
		
		
		#neck{
			height:55px;
			background-color: white;
			width: 100%;
			padding: 30px 30px 0px 30px;
			
		}
		.kuai{
			vertical-align: middle;
			width:90px ;
			height: 40px;
			background-color: #059cd4;
			font-size: 20px;
			padding: 10px;
			
		}
		.kuai2{
			vertical-align: middle;
			width:90px ;
			height: 40px;
			color:#808080 ;
			font-family: "¿¬Ìå";
			font-size: 21px;
		}
		.kuai3{
			vertical-align: middle;
			width:90px ;
			height: 40px;
			color:#059cd4 ;
			font-family: "ºÚÌå";
			font-size: 40px;
			
		}
		.context{
			width: 1215px;
			background-color:#f1f1f1;
			margin: 10px auto;
			
		}
		.context-1{
			padding: 20px 0;
			width:1215px;
			background-color: #FFFFFF;
			
		}
		.context-1-1{
				
			    padding-left: 17px;
    			font-size: 14px;
    			color: #666;
    			margin-bottom: 14px;
			
		}
		.context-1-2{
				height: 260px;
				margin:0 auto 34px ;
		}
		.context-1-2-1{
				width: 40%;
				height: 260px;
				float: left;
				padding-left: 80px;
				
				
		}
		.context-1-2-2{
				width: 50%;
				float:left;
		}
		.context-1-2-2-1{
			width: 598px;
			height: 208px;
			
		}
		.p1{
			font-family: "Î¢ÈíÑÅºÚ";
			color: black;
			font-size: 15px;
			
		}
		.p2{
			width: 100px;
			height: 30px;
			background-color: #F03746;
			color: white;
			padding: 10px;
		}
		.context-1-3{
				width: 1215px;
				height: 25px;
		}
		.context-1-3-1{
			margin: 0 80px;
			height: 25px;
			background: url(img/o.png)left center ;
			
			text-align: center;
			
		}
		.context-1-3-1-1{
			
			height: 100%;
			background-color: #FFFFFF;
			padding: 0 28px;
			font-family: "Î¢ÈíÑÅºÚ";
			font-size:22px;
			
		}
		.context-1-4{
				width: 1215px;
				min-height: 60px;
		}
		.context-1-4-1{
			min-height: 60px;
			margin:0 80px ;
			padding: 10px 20px 10px 20px;
			color: #666666;
			font-family: "Î¢ÈíÑÅºÚ";
			font-size: 15px;
		}
		
		
		
		#end{
			border: 1px solid darkgray;
			border-bottom-color:#f1f1f1 ;
			border-left-color:#f1f1f1 ;
			border-right-color:#f1f1f1 ;
			width: 1215px;
			
			margin: 0 auto;
			
			
		}
		.end-1{
			padding: 30px 0;
		}
		.end-1-1{
			text-align: center;
		}
		.end-1-2{
			margin-top: 10px;
			font-size: 5px;
			text-align: center;
			font-family: "Î¢ÈíÑÅºÚ";
		}
		.end-1-3{
			margin-top: 10px;
			font-size: 5px;
			text-align: center;
			font-family: "Î¢ÈíÑÅºÚ";
		}
		#fn3{
			border:1px solid red;
			width:300px;
			height:400px;
		}